################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BramhaMediTech_Lab_Updated/v17/.suo
/.vs/BramhaMediTech_Lab_Updated/v17
/.vs/BramhaMediTech_Lab_Updated/config/applicationhost.config
/.vs/BramhaMediTech_Lab_Updated/CopilotIndices/17.12.38.29086
/.vs/BramhaMediTech_Lab_Updated/FileContentIndex
