.sidebar-menu {
	.sidebar-list.active {
		.sidebar-link {
			background-color: rgba(#025464, 0.2);
		}
	}
}
.default-dashboard {
	.total-invest {
		.invest-content {
			.btn {
				box-shadow: 0px 0px 15px 0px rgba(#025464, 0.4);
			}
		}
	}
}
.bg-light-primary {
	background-color: rgba(#025464, 0.1);
}
.bg-light-secondary {
	background-color: rgba(#E57C23, 0.1);
	.stroke-icon {
		stroke: #E57C23;
	}
}
.border-light-primary {
	border-color: rgba(#025464, 0.3);
}
.border-light-secondary {
	border-color: rgba(#E57C23, 0.3);
}
.comman-round {
	background-color: rgba(#025464, 0.1);
	border: 2px solid rgba(#025464, 0.3);
}
.back-bar-container {
	.apexcharts-series {
		path {
			fill: rgba(#025464, 0.1);
		}
	}
}
.value-chart {
	.valuechart-detail {
		.badge.badge-primary {
			box-shadow: 0px 0px 15px 0px rgba(#025464, 0.4);
		}
		.badge.badge-secondary {
			box-shadow: 0px 0px 15px 0px rgba(#E57C23, 0.4);
		}
	}
}
.items-slider {
	.swiper {
		.swiper-wrapper {
			.swiper-slide {
				.slider-box {
					.header-top {
						.badge.badge-primary {
							box-shadow: 0px 0px 15px 0px rgba(#025464, 0.4);
						}
					}
				}
			}
		}
	}
}
.timeline-card {
	.activity-timeline {
		.d-flex {
			.flex-grow-1 {
				.img-wrapper {
					li {
						background-color: rgba(#025464, 0.1);
					}
				}
			}
			.circle-dot-primary {
				background-color: rgba(#025464, 0.25);
			}
			.circle-dot-secondary {
				background-color: rgba(#E57C23, 0.25);
			}
		}
	}
}
.graphic-design {
	.header-top {
		.d-flex {
			.flex-shrink-0 {
				background-color: rgba(#025464, 0.1);
				border: 2px solid rgba(#025464, 0.3);
			}
		}
	}
}
.radial-card {
	.radial-content {
		.progress-animate {
			background-color: rgba(#025464, 0.1);
		}
	}
}
.upcoming-class {
	ul {
		.circle-dot-primary {
			background-color: rgba(#025464, 0.25);
		}
		.circle-dot-secondary {
			background-color: rgba(#E57C23, 0.25);
		}
	}
}
.default-datepicker {
	.datepicker {
		.datepicker--nav {
			.datepicker--nav-title {
				background-color: rgba(#025464, 0.1);
			}
		}
		.datepicker--cell.-current- {
			box-shadow: 0px 4px 27px 0px rgba(#025464, 0.38);
		}
	}
}
.dropzone{
	background-color: rgba(#025464, 0.1);
}
.btn.btn-outline-primary {
	&:hover {
		background-color:  rgba(#025464, 0.9);
	}
}
.btn.btn-outline-secondary {
	&:hover {
		background-color:  rgba(#E57C23, 0.9);
	}
}
.file-content {
	li {
		.files-list {
			.file-left {
				background-color:  rgba(#025464, 0.08);
			}
		}
	}
}
.quick-file {
	li {
		.quick-box {
			background-color:  rgba(#025464, 0.08);
		}
	}
}
.kanban-board-header.bg-primary {
	~ {
		.kanban-drag {
			background-color:  rgba(#025464, 0.3);
		}
	}
}
.kanban-board-header.bg-secondary {
	~ {
		.kanban-drag {
			background-color:  rgba(#E57C23, 0.3);
		}
	}
}
.sidebar-menu {
	.sidebar-list {
		.sidebar-link.active {
			background-color: rgba(#025464, 0.2);
		}
	}
}
.sidebar-left-wrapper {
	.sidebar-left-icons {
		.nav-item {
			&:hover {
				.nav-rounded {
					.product-icons {
						background-color: rgba(#025464, 0.2);
					}
				}
			}
		}
	}
}
.product-wrapper {
	.product-grid {
		.feature-products {
			.products-total {
				.square-product-setting {
					.icon-grid {
						background-color: rgba(#025464, 0.1);
					}
				}
			}
			.select2-drpdwn-product {
				.form-control {
					background-color: rgba(#025464, 0.1);
					border-color: rgba(#025464, 0.1);
				}
			}
		}
		.product-wrapper-grid {
			.product-box {
				.modal {
					.modal-header {
						.product-box {
							.product-details {
								.product-size {
									ul {
										li {
											.btn {
												background-color:rgba(#025464, 0.1);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.product-social {
	li {
		a {
			&:hover {
				background-color: rgba(#025464, 0.1);
			}
		}
	}
}
.badge-light-primary {
    background-color: rgba(#025464, 0.2);
}
.badge-light-secondary {
    background-color: rgba(#E57C23, 0.2);
}
.list-product-header {
	.light-box {
		background-color: rgba(#025464, 0.2);
	}
}
.email-main-wrapper {
	.email-app-sidebar {
		.nav-pills {
			.nav-link.active {
				background-color: rgba(#025464, 0.1);
			}
		}
		span {
			background-color: rgba(#025464, 0.2);
		}
	}
}
.left-sidebar-wrapper {
	* {
		&::-webkit-scrollbar-thumb {
			background-color: rgba(#025464, 0.3);
		}
	}
}
.bookmark-wrap {
	.left-bookmark {
		.main-menu {
			.nav-item {
				.button-primary {
					background-color: rgba(#025464, 0.2);
				}
			}
		}
	}
}
.contacts-tabs {
	.nav-pills {
		.nav-link.active {
    		background-color: rgba(#025464, 0.05);
		}
	}
}
.fc {
	.fc-button-primary {
		&:not(:disabled) {
			background-color: #025464;
			border-color: #025464;
			&.fc-button-active{
				background-color: #025464;
				border-color: #025464;
			}
		}
	}
}
.fc-daygrid-event-dot{
	border-color: #025464;
}
.search-list {
	.nav-item {
		.nav-link.active {
			background-color: rgba(#025464, 0.1);
		}
	}
}
.search-list {
	.nav-item {
		background-color: rgba(#025464, 0.1);
	}
}
.alert-light-primary {
    background-color: rgba(#025464, 0.2);
    color: #025464;
}
.alert-light-secondary {
    background-color: rgba(#E57C23, 0.2);
    color: #E57C23;
}
.accordion-button.accordion-light-primary {
	&:not(.collapsed) {
		background-color: rgba(#025464, 0.2);
	}
}
.accordion-button.accordion-light-primary.active {
	background-color: rgba(#025464, 0.2);
}
.list-light-primary {
    background-color: rgba(#025464, 0.2);
}
.list-light-secondary {
    background-color: rgba(#E57C23, 0.2);
}
.list-hover-primary{
	&.active{
		background-color: rgba(#025464, 0.2);
	}
	&:hover{
		background-color: rgba(#025464, 0.2);
	}
}
.timeline-dot-primary {
    outline: 5px solid rgba(#025464, 0.25);
}
.timeline-dot-secondary {
    outline: 5px solid rgba(#E57C23, 0.25);
}
.square-timeline {
	.timeline-event {
		.timeline-event-wrapper {
			.timeline-thumbnail {
				background-color: rgba(#025464, 0.25);
				box-shadow: inset 0 0 0 0em rgba(#025464, 0.25);
			}
		}
	}
}
.square-timeline {
	.timeline-event {
		.timeline-event-icon {
			outline: 6px solid rgba(#025464, 0.25);
		}
	}
}
.activity-dot-primary {
    outline: 5px solid rgba(#025464, 0.25);
}
.activity-dot-secondary {
    outline: 5px solid rgba(#E57C23, 0.25);
}
.main-upgrade {
	.variation-box {
		.selection-box {
			input[type=checkbox] {
				&:checked {
					~ {
						div {
							background-color: rgba(#025464, 0.5);
						}
					}
				}
			}
		}
	}
}
.vertical-main-wizard {
	.nav-link {
		.vertical-wizard {
			.stroke-icon-wizard {
				background-color: rgba(#025464, 0.3);
			}
		}
	}
}
.horizontal-wizard-wrapper.vertical-variations {
	.main-horizontal-header {
		.horizontal-options {
			.nav-link {
				.horizontal-wizard {
					.stroke-icon-wizard {
						background-color: rgba(#025464, 0.2);
					}
				}
			}
		}
	}
}
.table-striped {
	.alert-light-primary {
		background-color:rgba(#025464, 0.3);
	}
}
pre {
    background-color: rgba(#025464, 0.1);
}
.starter-main .alert-primary {
    background-color: rgba(#025464, 0.8);
}
header {
	&.circle-dot-primary {
		background-color: rgba(#025464, 0.1);
	}
	&.circle-dot-secondary {
		background-color: rgba(#E57C23, 0.1);
	}
	.btn-activity-primary {
		background-color: rgba(#025464, 0.1);
		border: 1px solid rgba(#025464, 0.1);
	}
	.btn-activity-secondary {
		background-color: rgba(#E57C23, 0.1);
		border: 1px solid rgba(#E57C23, 0.1);
	}
	.header-right {
		.button-group {
			.btn-primary {
				color: var(--white);
			}
		}
	}
}