.rounded_corners 
{
    border :1px solid Gray;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
   border-radius:8px;
    overflow:hidden
}
.rounded_corners td,
.rounded_corners th
{
    border:1px solid Gray;
    font-family:Arial;
    font-size:10pt;
    text-align:center;
}
.rounded_corners table table td
{
    border-style:none
}
.row1
{
     border:1px solid #A1DCF2;
    font-family:Tahoma;    
     background-color:White;
     font-size:10pt;
    
}
.row2
{
    
    font-family:Tahoma;
     background-color:White;
     font-size:10pt;
